<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @category.description %>
    </h3>
  </div>
</div>

<div class="row">

  <%= render partial: "site/shared/ads" %>

</div>
